<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block css %}

    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css">
    <title>高山慶久 ポートフォリオサイト</title>
</head>
<body>
    <header>
        <h1>Portfolio</h1>
        <nav class="menu">
            <ul>
                <li><a href="/">トップ</a></li>
                <li><a href="">ステータス</a></li>
                <li><a href="">作品</a></li>
            </ul>
        </nav>
        <div class="menu768">
            <i class="fa-solid fa-bars"></i>
        </div>
        <nav class="sideNav">
            <ul>
                <li><a href="/">トップ</a></li>
                <li><a href="">ステータス</a></li>
                <li><a href="">作品</a></li>
            </ul>
        </nav>
    </header>
    
    {% block main %}
    {% endblock %}
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    {% block javascript %}

    {% endblock %}
</body>
</html>