<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>高山慶久　ポートフォリオサイト</title>
</head>
<body>
    <header>
        <h1>Portfolio</h1>
        <nav>
            <ul>
                <li><a href="">トップ</a></li>
                <li><a href="">ステータス</a></li>
                <li><a href="">作品</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>