{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/work.css') }}">
{% endblock %}

{% block main %}
<main class="detail">
    <section class="workTop">
        <div class="workTopDetail">
            <h1>{{ workData.name }}</h1>
            <h2>使用技術</h2>
            <p>{{ workData.skill }}</p>
            <h2>制作期間</h2>
            <p>{{ workData.workTime }}</p>
        </div>
        <div class="topDetailImage">
            <img src="{{ url_for('static', filename='images/work/top/' + workData.topImage) }}" alt="">
        </div>
    </section>
    <section class="workDetailSection">
        <h2>概要</h2>
        <div class="workDetail">
            {{ workData.detail | safe }}
        </div>
    </section>
    <section class="detailText">
        <h1>サイト構成</h1>
        {{ workData.detailText |safe }}
    </section>
    <section class="return">
        <button><a href="/#work">前のページに戻る</a></button>
    </section>
</main>
{% endblock %}