{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/work.css') }}">
{% endblock %}

{% block main %}
<main class="detail">
    <section class="workTop">
        <div class="workTopDetail">
            <h1>{{ workData.name }}</h1>
            <h2>使用技術</h2>
            <p>{{ workData.skill }}</p>
            <h2>制作期間</h2>
            <p>{{ workData.workTime }}</p>
        </div>
        <div class="topDetailImage">
            <img src="{{ url_for('static', filename='images/work/top/' + workData.topImage) }}" alt="">
        </div>
    </section>
    <section class="workDetailSection">
        <h2>概要</h2>
        <div class="workDetail">
            {{ workData.detail | safe }}
        </div>
    </section>
    <section class="detailText">
        <h1>{{ workData.type }}構成</h1>
        <!-- {{ workData.detailText |safe }} -->
        <h2>トップページ</h2>
        <div class="detailImage">
            <img src="static/images/work/top/work1.png" alt="">
        </div>
        <div class="comment">
            <ul>
                <li>・全国の現在の天気を見ることができます。</li>
                <li>・一分ごとにページの更新が行われ、最新の天気に変わります。</li>
            </ul>
        </div>
    </section>
    <section class="return">
        <button><a href="/#work">前のページに戻る</a></button>
    </section>
</main>
{% endblock %}